:root {
    --primary-color: #1A4B84;
    --chathams_blue: #1A4B84;
    --tamarillo: #991E14;
    --yellow_sea: #FEAD06;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--primary-color);
}

p {
    text-align: center;
}

/* Header Styles
  -------------------------------------------------- */
header{
    margin-bottom: 40px;
}
header .bg-gradient {
    background: rgb(216, 216, 216);
}

header .navbar {
    padding: 20px 0 0;
}

header .navbar-brand {
    padding: 0;
    z-index: 1;
    width: 213px;
    height: 126px;
    background-color: var(--primary-color);
}

header .navbar-brand img {
    width: 56px;
}

header h3 {
    font: normal normal 600 18px/27px Oswald;
    color: #fff;
}

header h4 {
    font: normal normal 600 18px/28px Oswald;
    letter-spacing: 0.36px;
    color: #191919;
    text-transform: uppercase;
}


.JsTitle {
    background-color: #838383;
    height: 50px;
    font: normal normal 600 19px/27px Oswald;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.JsTitle img {
    width: 25px;
    margin-right: 10px;
}

.link{
    height: 10px;
    margin-right: 4px
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}



.footer-dark {
    background-color: var(--primary-color);
    color: #fff;
}

footer {
    font: normal normal 600 12px/19px Oswald;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.theme-switch {
    margin: 0 5px;
    padding: 10px;
    font-size: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.theme-switch-chathams_blue {
    background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
    background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
    background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}
  
  .clock {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 100px auto 0px auto;
    position: relative;
    border: 20px solid rgba(229, 238, 229, 0.6);
  }
  .center {
    background-color: red;
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    width:  12px;
    height: 12px;
    border-radius: 50%;
    
  }
  
  .hourHand {
    width: 10px;
    height: 75px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 145px;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(360deg);
  }
  .minuteHand {
    width: 5px;
    height: 120px;
    background-color: #000;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 147px;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(360deg);
  }
  .secondHand {
    width: 2px;
    height: 120px;
    background-color: red;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 149px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    transform: rotate(360deg);
  }
  .secondHand span{
    color: red;
    position: absolute;
    font-size: large;
    font-weight: bold;
    top: -9px;
    left: -4.5px;
  }
  .secondHand div{
    background-color: red;
    height: 20px;
    width: 3px;
    position: relative;
    left: -0.4px;
    top: 125px;
  }
  
  .clock ul {
    list-style: none;
    padding: 0;
  }
  .clock ul li {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
  }
  .clock ul li:nth-child(1) {
    font-size: 14px;
    right: 22%;
    top: 6.5%;
  }
  .clock ul li:nth-child(2) {
    font-size: 14px;
    right: 6%;
    top: 25%;
  }
  .clock ul li:nth-child(3) {
    right: 1%;
    top: calc(50% - 10px);
    font-size: 20px;
    font-weight: bold;
  }
  .clock ul li:nth-child(4) {
    font-size: 14px;
    right: 6%;
    top: 69%;
  }
  .clock ul li:nth-child(5) {
    font-size: 14px;
    right: 22%;
    top: 84%;
  }
  .clock ul li:nth-child(6) {
    right: calc(50% - 10px);
    top: calc(99% - 20px);
    font-size: 20px;
    font-weight: bold;
  }
  .clock ul li:nth-child(7) {
    font-size: 14px;
    left: 22%;
    top: 84%;
  }
  .clock ul li:nth-child(8) {
    font-size: 14px;
    left: 6%;
    top: 69%;
  }
  .clock ul li:nth-child(9) {
    left: 1%;
    top: calc(50% - 10px);
    font-size: 20px;
    font-weight: bold;
  }
  .clock ul li:nth-child(10) {
    font-size: 14px;
    left: 6%;
    top: 25%;
  }
  .clock ul li:nth-child(11) {
    font-size: 14px;
    left: 22%;
    top: 6.5%;
  }
  .clock ul li:nth-child(12) {
    right: calc(50% - 10px);
    top: 1%;
    font-size: 20px;
    font-weight: bold;
  }
  
 